@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #f60f20;
  --secondary-color: #1b206e;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    font-family: 'Mulish', sans-serif;
    color: #111;
}

/* Hero Section */

.hero {
    margin-bottom: 10px;
}

.hero .slide img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hero .hero-content h1 {
    margin-bottom: 0.5em;
  font-size: 2.5rem;
  color: #fff;
  opacity: 0; /* Set initial opacity to 0 */
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
  animation-delay: 0.5s; /* Add the animation-delay property */
  animation-fill-mode: forwards; /* Keeps the final state of the animation */
  
}

.hero .hero-content p {
  font-size: 1.5rem;
  font-family: 'mulish';
  font-weight: 300;
  color: #fff;
  opacity: 0; /* Set initial opacity to 0 */
  animation-name: animate-pop-p;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
  animation-delay: 1s; /* Add the animation-delay property */
  animation-fill-mode: forwards; /* Keeps the final state of the animation */
}

.hero .btns {
   display: flex;
   justify-content: space-around;
}

.hero .btns .prev-button,
.hero .btns .next-button {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
}